@import 'tailwindcss';
@import 'tailwindcss-primeui';

::-webkit-scrollbar {
  width: 2px; /* Lebar scrollbar vertikal */
  height: 2px; /* Tinggi scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Latar belakang track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4); /* Warna handle */
  border-radius: 9999px; /* Membulatkan handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

@layer utilities {
  .text-surface-100 {
    color: var(--p-surface-100);
  }
/* 
  .dark\:text-surface-100 {
    @apply text-surface-100;
  } */
}

@media (prefers-color-scheme: dark) {
  :root:not(.app-dark) .dark\:text-surface-100 {
    color: var(--p-surface-800);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.app-dark) .dark\:text-surface-0 {
    color: var(--p-surface-900);
  }
}

